* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.wrapper {
	max-width: 1366px;
	width: 100%;
	padding: 0 1.5rem;
	margin: 0 auto;
}

:root {
	--nav-height: 8svh;
	--footer-height: 5svh;
}

main {
	background-color: lightcoral;
	padding-top: var(--nav-height);
}
