.nba-all-teams {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  & h1 {
    text-align: center;
  }
}

.teams-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(100%, 200px), 1fr));
  gap: 1rem;
  padding-bottom: 2rem;
}

.team-card {
  border: var(--container-border);
  border-radius: 0.25rem;
  box-shadow: var(--container-shadow);

  gap: 0.5rem;
  padding: 1rem;
  transform: scale(1);

  display: grid;
  grid-template-columns: 30% 70%;
  align-items: center;

  transition: all 0.2s ease-in-out;

  &:hover {
    transform: scale(1.05);
    border-color: rgb(from var(--secondary) r g b / 0.5);
  }
}
