* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--primary);
  font-size: 1rem;
  font-family: var(--font-outfit), sans-serif;
  font-weight: 300;
}

main {
  display: flex;
  flex-direction: column;
  background: radial-gradient(rgba(124, 222, 253, 0.125), transparent);

  &:not(.landing-page) {
    padding-top: calc(var(--nav-height) + 2.5svh);
  }
}

a {
  color: inherit;
  text-decoration: none;
}

/* Headers */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  font-family: var(--font-spaceGrotesk), sans-serif;
  text-transform: uppercase;
}

h1 {
  font-size: 4rem;
  line-height: 4.5rem;
  letter-spacing: -2px;

  @media (max-width: 580px) {
    font-size: 2.5rem;
    line-height: 3rem;
  }
}

/* END Headers */

:root {
  --nav-height: 8svh;

  --foreground: #ffffff;
  --background: #171717;

  --primary: #1a1a2a;
  --primary-50: #f2f5fb;
  --primary-100: #e8ecf7;
  --primary-200: #d5dcf0;
  --primary-300: #bbc5e6;
  --primary-400: #9fa8da;
  --primary-500: #868dce;
  --primary-600: #6e6fbd;
  --primary-700: #5e5da5;
  --primary-800: #4d4e86;
  --primary-900: #43456c;
  --primary-950: #1a1a2a;

  --secondary: #00a3da;
  --secondary-50: #f0faff;
  --secondary-100: #e0f5fe;
  --secondary-200: #b9ecfe;
  --secondary-300: #7cdefd;
  --secondary-400: #36cffa;
  --secondary-500: #0cbaeb;
  --secondary-600: #00a3da;
  --secondary-700: #0177a3;
  --secondary-800: #066486;
  --secondary-900: #0b536f;
  --secondary-950: #07354a;

  --accent: #fa9fe0;
  --accent-50: #fdf2fa;
  --accent-100: #fce7f7;
  --accent-200: #fccef0;
  --accent-300: #fa9fe0;
  --accent-400: #f670cd;
  --accent-500: #ef45b6;
  --accent-600: #de2497;
  --accent-700: #c1157a;
  --accent-800: #9f1565;
  --accent-900: #851656;
  --accent-950: #510631;
}
