:root {
  --nav-height: 8svh;

  --foreground: #ffffff;
  --background: #171717;

  --primary: #1a1a2a;

  --secondary: #00a3da;

  --accent: #fa9fe0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--primary);
  font-size: 1rem;
  font-family: var(--font-outfit), sans-serif;
}
