.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex-grow: 1;
  position: relative;
}

nav {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
}
