.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex-grow: 1;
  position: relative;
}

.wrapper {
  max-width: 1366px;
  width: 100%;
  padding: 0 1rem;
  margin: 0 auto;
}
