.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex-grow: 1;
  position: relative;
}

.wrapper {
  max-width: 1366px;
  width: 100%;
  padding: 0 1rem;
  margin: 0 auto;
}

.loading-component {
  min-height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;

  & .loading-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    & .spinner {
      width: 40px;
      height: 40px;
      border: 4px solid rgb(from var(--accent) r g b / 0.125); /* Dark gray background ring */
      border-top: 4px solid var(--accent); /* Blue active spinner */
      border-radius: 50%;
      animation: spin 1s linear infinite;
    }

    & p {
      color: white;
      font-size: 0.9rem;
      animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
    }
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes pulse {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}
