.nba-today-home,
.nba-today-away {
	align-items: center;
	gap: 1.5rem;
	position: relative;
	height: 100%;
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr;

	& h2 {
		color: rgba(255, 255, 255, 0.75);

		&.winner-away,
		&.winner-home {
			color: white;
			font-weight: 700;
		}

		&.winner-away {
			margin-left: auto;
		}

		@media (max-width: 580px) {
			font-size: 1.5rem;
		}
	}

	@media (max-width: 580px) {
		gap: 1rem;
	}
}

.nba-today-away h2 {
	margin-left: auto;
}

.nba-today-logo-record {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	height: 100%;

	& a {
		@media (prefers-reduced-motion: no-preference) {
			animation: pumpit 5s ease infinite;
		}
	}

	& img:hover {
		filter: drop-shadow(0 0 0.25rem var(--accent));
	}
}

.home-or-away {
	text-transform: capitalize;
	margin-bottom: 0.5rem;
}

.nba-today-home-record,
.nba-today-away-record,
.home-or-away {
	text-align: center;
	font-size: 0.75rem;
	font-weight: 100;
}

.nba-today-away .nba-today-logo-record {
	order: 2;
}

.nba-today-gamestatus {
	align-self: center;
}

.nba-today-team {
	font-weight: 300;
	text-align: center;
	margin-bottom: 0.25rem;
	font-size: 0.75rem;
}

@keyframes pumpit {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(1.1);
	}
	100% {
		transform: scale(1);
	}
}
