.nba-page {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 2rem;
  padding-bottom: 2rem;

  & h1 {
    font-size: 2rem;
    letter-spacing: 0;
  }
}

.nba-today {
  padding-top: 2rem;
}

.nba-today,
.nba-page-leaders {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  & .leaders-box {
    width: 100%;
  }

  & button {
    width: max-content;
  }
}

.nba-page-link {
  width: max-content;
}
