.nba-today-game {
  border: var(--container-border);
  box-shadow: var(--container-shadow);
  border-radius: 0.5rem;
  padding: 1rem;
  display: flex;
  gap: 3rem;
  width: max-content;
}

.nba-today-home,
.nba-today-away {
  display: flex;
  align-items: center;
  gap: 1.5rem;

  & h2 {
    color: rgba(255, 255, 255, 0.75);

    &.winner {
      color: white;
      font-weight: 700;
    }
  }
}

.nba-today-away .nba-today-logo-record {
  order: 2;
}

.nba-today-gamestatus {
  align-self: center;
}

.nba-today-logo-record {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nba-today-team {
  font-size: 0.825rem;
  font-weight: 300;
  text-align: center;
  margin-bottom: 0.25rem;
}

.nba-today-home-record,
.nba-today-away-record {
  text-align: center;
  font-size: 0.725rem;
  font-weight: 300;
}
