.nba-today-game {
  border: var(--container-border);
  box-shadow: var(--container-shadow);
  border-radius: 0.5rem;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  gap: 1.5rem;
  max-width: 100%;
  flex-grow: 1;

  @media (max-width: 580px) {
    gap: 1rem;
  }
}
