.nba-today-game {
  border: var(--container-border);
  box-shadow: var(--container-shadow);
  border-radius: 0.5rem;
  padding: 1rem;
  gap: 1.5rem;
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;

  @media (max-width: 580px) {
    gap: 1rem;
  }

  & > :last-child {
    justify-self: end;
  }
}
