.nba-today-gamestatus {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
  text-wrap: balance;
  text-align: center;
  position: relative;
  height: 100%;

  & h3 {
    @media (max-width: 580px) {
      font-size: 1rem;
    }
  }
}

.game-date {
  font-size: 0.825rem;
  font-weight: 100;
}

.game-odds {
  text-align: center;
  font-size: 0.75rem;
  font-weight: 100;
  position: absolute;
  bottom: 0;
}
