.nba-today-team {
  font-weight: 300;
  text-align: center;
  margin-bottom: 0.25rem;
  font-size: 0.75rem;
}

.nba-today-home-record,
.nba-today-away-record {
  text-align: center;
  font-size: 0.75rem;
  font-weight: 100;
}

.nba-today-away .nba-today-logo-record {
  order: 2;
}

.nba-today-gamestatus {
  align-self: center;
}

.nba-today-logo-record {
  display: flex;
  flex-direction: column;
  align-items: center;

  & a {
    @media (prefers-reduced-motion: no-preference) {
      animation: pumpit 5s ease infinite;
    }
  }
}

.nba-today-home,
.nba-today-away {
  display: flex;
  align-items: center;
  gap: 1.5rem;

  & h2 {
    color: rgba(255, 255, 255, 0.75);

    &.winner {
      color: white;
      font-weight: 700;
    }

    @media (max-width: 580px) {
      font-size: 1.5rem;
    }
  }

  @media (max-width: 580px) {
    gap: 1rem;
  }
}

@keyframes pumpit {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
