nav {
  position: fixed;
  z-index: 10;
  top: 1rem;
  left: 50%;
  transform: translateX(-50%);
  width: 95%;
  max-width: 1366px;
  height: var(--nav-height);

  background: linear-gradient(
    to bottom right,
    rgba(0, 0, 0, 0.125),
    rgba(0, 0, 0, 0.125)
  );
  backdrop-filter: blur(1rem);
  border: 1px solid rgba(255, 255, 255, 0.125);
  border-radius: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 1.5rem;

  box-shadow: 0 8px 16px rgba(0, 163, 218, 0.125),
    0 8px 36px rgba(0, 163, 218, 0.075);
}

.nav-buttons {
  display: flex;
  gap: 1rem;
  height: 2.5rem;
  visibility: hidden;

  & button {
    padding: 0.25rem 1.5rem;
  }
}

.nav-links {
  display: flex;
  gap: 1.5rem;

  & li {
    list-style: none;

    & a.active {
      font-weight: 600;
    }

    & a:hover:not(.active) {
      color: var(--accent-200);
    }
  }
}
