.leaders-box {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border: 1px solid var(--accent);
  padding: 1rem 2rem;
}

.leaders-box table {
  width: 100%;
  border-collapse: collapse;

  & caption {
    padding-bottom: 1rem;
  }

  & th {
    font-family: var(--font-spaceGrotesk);
    text-transform: uppercase;
    text-align: left;
    padding: 0.5rem;
  }

  & tr:not(:last-child) {
    border-bottom: 1px solid var(--accent);
  }

  & td {
    padding: 1rem 0.5rem;
    font-variant-numeric: tabular-nums;
  }
}
