button {
  border: 1px solid black;
  height: 100%;
  width: 100%;
  font-family: var(--font-outfit);
  font-size: 1.125rem;
  padding: 0.75rem 1.5rem;
  text-transform: capitalize;

  &:hover {
    cursor: pointer;
  }
}

.btn-cta {
  background-color: var(--secondary-400);
  border-radius: 5rem;
  box-shadow: none;
  transition: all 0.125s ease-in-out;

  &:hover {
    box-shadow: -4px 4px var(--secondary-800);
    background-color: var(--secondary-300);
  }

  &:active {
    transform: translate(-4px, 4px);
    box-shadow: none;
  }
}
