button {
  border: 1px solid black;
  height: 100%;
  width: 100%;
  font-family: var(--font-outfit);
  font-size: 1rem;
  padding: 0.75rem 1.5rem;
  text-transform: capitalize;
  display: grid;
  place-items: center;
  min-width: max-content;

  &:hover {
    cursor: pointer;
  }
}

.btn-cta,
.btn-outline {
  border-radius: 5rem;
  transition: all 0.125s ease-in-out;
  box-shadow: none;

  &:active {
    transform: scale(0.95);
  }
}

.btn-cta {
  background-color: var(--secondary-400);

  &:hover {
    box-shadow: 0 2px 4px var(--secondary-800),
      0 4px 16px rgba(124, 222, 253, 0.25);

    background-color: var(--secondary-300);
  }
}

.btn-outline {
  background-color: transparent;
  color: var(--foreground);
  border-color: rgba(255, 255, 255, 0.125);
  /* backdrop-filter: blur(1rem); */

  &:hover {
    border-color: rgba(255, 255, 255, 0.25);
  }
}

.btn-outline,
.btn-pressable {
  background-color: transparent;
  color: var(--foreground);
  border-color: rgba(255, 255, 255, 0.125);

  &:hover {
    border-color: rgba(255, 255, 255, 0.25);
  }
}

.btn-pressable {
  border-radius: 0.25rem;
  font-size: 0.925rem;
  padding: 0.25rem 0.5rem;
  box-shadow: 0 2px rgba(255, 255, 255, 0.25);

  &:active {
    transform: translateY(2px);
    box-shadow: none;
  }

  &:disabled {
    pointer-events: none;
  }

  &.active {
    border: 1px inset rgba(0, 0, 0, 0.75);
    box-shadow: none;

    &:hover {
      border: 1px solid rgba(255, 255, 255, 0.125);
    }

    &:active {
      transform: translateY(2px);
      box-shadow: none;
    }
  }
}

.btn-with-icon {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.btn-icon {
  transform: translateY(1px);
  color: rgba(255, 255, 255, 0.5);

  .btn-with-icon:hover & {
    color: rgba(255, 255, 255, 0.75);
  }
}

.btn-icon-cta {
  transform: translateY(1px);
  color: rgba(0, 0, 0, 0.75);
  transition: all 0.25s ease-in-out;

  .btn-with-icon:hover & {
    color: rgba(0, 0, 0, 1);
    transform: translate(2px, 1px);
  }
}
